*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* *Custom Proprierties */
:root {
    --ff-text:'Raleway', sans-serif;
    --ff-title: 'Shanti', sans-serif;
    --ff-header: 'Roboto', sans-serif;

    --clr-black: #000;
    --clr-white: #e5e5e5;
    --clr-gray: #c4c4c4;
    --clr-dark: #252525;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --fw-normal: 400;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* *Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title {
    font-family: var(--ff-title);
    text-transform: uppercase;
    font-weight: var(--fw-normal);
}

.section__subtitle {
    font-family: var(--ff-text);
    font-weight: var(--fw-normal);
}

p {
    font-family: var(--ff-text);
    font-weight: var(--fw-normal);
    padding: 8px 0;
}

/* *General Styles */

html {
    scroll-behavior: smooth;
}

.section__title {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.section__subtitle {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}